/* Load Sass environment
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@import "compass";
@import "compass/reset";
@import "breakpoint";
@import "susy";

/* Measures
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$container-width: 144.0rem;

/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$background-color: #F2F2F2;

/* Baseline
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$font-size: 1.5rem;