.container {
	@include container;
	padding-top: 24px;
}

.tag-cloud {
	@include span(2 of 12);
}

.planet-container {
	@include span(7 of 12);

	.planet {
		stroke: black;
		stroke-opacity: 0.2;
		fill: white;
	}

	.node {
		fill: rgb(176, 196, 222);
		stroke: #4682B4;
		opacity: 0.8;
	}

	.node-hover {
		fill: rgb(176, 196, 222);
		stroke: #4682B4;
		opacity: 1.0;
	}

	.node-selected {
		fill: rgb(33, 192, 255);
	}
}

.thought {
	@include span(3 of 12 last);
	background-color: #ee9e9c;
	text-align: center;
}

p {
	margin-bottom: 20px;
}

.btn {
	margin-bottom: 20px;
}

.tags {
	li {
		margin-bottom: 8px;
	}
}